.ipod {
  width: 310px;
  height: 560px;
  margin: auto;
  border: pink 2px dotted;
}

.bezel {
  height: 40%;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.wheel {
  margin: 50px auto;
  background: pink;
  border-radius: 50%;
}
