.ipod {
  width: 320px;
  height: 525px;
  margin: auto;
  border: rgb(235, 235, 235) 2px solid;
  margin-top: 50px;
  border-radius: 25px;
}

.bezel {
  height: 40%;
  padding: 20px 15px;

  .screen {
    width: 95%;
    margin: auto;
    border: black 3px solid;
    height: 100%;
    border-radius: 5px;
  }
}

.controls {
  display: flex;
  justify-content: space-around;
}

.wheel {
  margin: 25px;
  width: 200px;
  height: 200px;
  background: pink;
  border-radius: 50%;
}
